
.o-iHeader{
  display:flex;
  flex-direction: column;
  gap: var(--fluid-space-m);
  padding-block-end: var(--fluid-space-3xl);
}
.numberOrange{
  background-color: var(--color-orange);
  width: 5rem;
  height: 5rem;
  font-size: var(--font-step-6);
  border-radius: 50%;
  padding: var(--fluid-space-l);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.o-iStep{
  display: flex;
  gap: var(--fluid-space-s);
  padding-block: var(--fluid-space-xl);
  width: 90%;
  margin: 0 auto;
}

.blueStep{
  width: 100%;
  background-color: var(--color-blue);
}

.o-iStep-info {
  display: flex;
  flex-direction: column;
  gap: var(--fluid-space-xs);
}

.stepsSection{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
h2 {
  padding-block-end: var(--fluid-space-s);
  grid-column: 1/3;
  grid-row: 1/2;
}
.o-iStep1 {
  grid-column: 1/3;
  grid-row: 2/3;
  z-index: 0;
}

.o-iStep2 {
  grid-column: 1/3;
  grid-row: 3/4;
  z-index: 0;
}

.o-iStep3 {
  grid-column: 1/3;
  grid-row: 4/5;
  z-index: 0;
}

.o-iStepPic{
  grid-column: 2/3;
  grid-row: 1/5;
  z-index: 1;

}
.o-iForm{
  background-color: var(--color-blue);
  display: grid;
  grid-template-columns: 1.25fr 1fr;
}

.o-iBanner {
  font-size: var(--font-step-3);
  text-transform: uppercase;
  display: flex;
  gap: var(--fluid-space-xl);
  padding-block: var(--fluid-space-m);
  background-color: var(--color-yellow);
}

.banner-wrapper {
  padding-block-end: 0 ;
}

.imageDesktop {
  display: none;
}


.open-form {
  padding-block-start: var(--fluid-space-xl);
}


/*
MODAL */
.modalSignUpOrSubmit {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 1000;
  background: white;
  max-width: fit-content;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 0;
}
.modalSignUpMain {
  display: flex;
  width: 90vw;
}
.signUpModalInfo {
  display: flex;
  flex-direction: column;
}
.signUpModalText {
  padding-inline-start: var(--fluid-space-m);
  display: flex;
  flex-direction: column;
  gap: var(--fluid-space-s);
  padding-block-end: var(--fluid-space-m);
}
.closeSignUp {
  align-self: flex-end;
  margin: var(--fluid-space-xs);
}
.buttonSpace {
  display: flex;
  flex-direction: column;
  gap: var(--fluid-space-xs);
  max-width: fit-content;
}
.paddingBottom {
  padding-block-end: var(--fluid-space-m);
}

.ulMargin {
  padding-inline-start: var(--fluid-space-m);
}

.show-on-desktop {
  display: none;
}

.flexText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.noteModal {
  background-color: var(--color-green);
  padding-inline: var(--fluid-space-m);
  padding-block: var(--fluid-space-m);
}

@media screen and (min-width:50.5rem) {
  .modalSignUpMain {
    max-width: 45vw;
  }
}


@media screen and (min-width: 64em) {
  .imageDesktop {
    display: block;
  }
  .blueStep{
    padding-inline: 5%;
  }

  .downArrow {
    max-width: 5rem;
  }
  .o-iHeader {
    display: grid;
    place-items: center;
    gap: var(--fluid-space-l);
    padding-block-start: var(--fluid-space-xl);
    padding-block-end: var(--fluid-space-3xl);
    text-align: center;

  }
  .maxLength {
    max-width: 70%;
  }
  .show-on-desktop {
    display: block !important;
  }
  .o-iStep1 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .o-iStep2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .o-iStep3 {
    grid-column: 1/2;
    grid-row: 4/5;
  }

    /* MODAL */
  .imgModalSignUp {
    max-width: 45%;
    margin: 0 auto;
  }
  .modalImgBg {
    background-color: var(--color-yellow);
    max-width: 40%;
  }
  .modalSignUpMain {
    max-width: 60vw;
  }
  .modalSignUpOrSubmit {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .buttonSpace {
    flex-direction: row;
    gap: var(--fluid-space-s);
  }
}
