
.p-iHeader{
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: var(--fluid-space-m);
  padding-block: var(--fluid-space-2xl);
}

.p-iBanner{
  font-size: var(--font-step-3);
  text-transform: uppercase;
  display: flex;
  gap:var(--fluid-space-xl);
  padding-block: var(--fluid-space-m);
  background-color: var(--color-blue);
}

.p-iMain{
  background-color: var(--color-yellow);
}
.p-iForm{
  display: grid;
  grid-template-columns: 1.25fr 1fr;
}
.privateInvForm{
  padding-block: var(--fluid-space-xl);
}
.banner-wrapper {
  padding-block-end: 0;
}

/* MODAL */
.modal {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 1000;
  background: white;
  min-width: 90%;
  box-shadow: 0 10px 25px rgba(51, 16, 16, 0.2);
  display: flex;
  flex-direction: column;
  padding: var(--fluid-space-s);
}

.button-close-modal {
  align-self: flex-end;
  margin: var(--fluid-space-xs);
  max-width: fit-content;
}

.buttonSpace {
  display: flex;
  flex-direction: column;
  gap: var(--fluid-space-xs);
}
.modalIdeaText{
  display: flex;
  flex-direction: column;
  gap: var(--fluid-space-s);
}
ul{
  padding-inline-start: var(--fluid-space-s);
}
li{
  padding-block-end: var(--fluid-space-s);
}
.listShare{
  padding-block-start: var(--fluid-space-l);
}
.iconSocial{
  max-width: 3rem;
}
.listItem{
  display: flex;
  flex-direction: column;
}
/* FOR FORM */

.infoIcon{
  max-width: 1.5rem;
  cursor: "pointer"
}
.labelHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.imageDesktop {
  display: none;
  align-self: end;
  margin-inline-end: -6rem;
}

@media screen and (min-width:50.5rem) {
  .modal{
    min-width: 30%;
    max-width: 50%;
  }
  .p-iHeader {
    justify-content: center;
    gap: var(--fluid-space-l);
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
  }

}


@media screen and (min-width: 64em) {
  /* 1728px */
  .imageDesktop {
    display: block;
  }
}
