.open-call-header {
  text-align: center;
  margin-block: var(--fluid-space-xl) var(--fluid-space-xl);
}

.open-call-cards-grid {
  display: grid;
  row-gap: 1rem;
}

.open-call-card {
  background-color: #ffbf50;
  text-align: center;
}

.open-call-card-layout {
  display: grid;
  grid-template-columns: 1fr;
}

h2 {
  font-size: var(--font-step-2);
  margin-block:var(--fluid-space-m);
  font-weight: 500;
}

.card-text p{
  line-height: auto;
}

.card-img {
  grid-area: 1 / 1 / 2 / 2;
}

.open-call-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header {
  grid-area: 2 / 1 / 3 / 2;
  margin-block-start: 1rem;
  justify-items: center;
}

.card-text {
  grid-area: 3 / 1 / 4 / 2;
}

.tablet-side-margin {
  width: 90%;
  margin: 0 auto;
}

.photo-card-wrapper {
  display: none;
}

.photo-card-wrapper picture,
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 48em) {
  .open-call-cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
  .photo-card-wrapper {
    display: block;
  }

  article {
    height: 100%;
  }
  .open-call-card-layout {
    height: 100%;
  }

  .phone-side-margin {
    height: 100%;
  }
}
