.chat-notice-popup {
  position: relative;
  background-color: white;
  border: 0.2rem solid var(--color-blue);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: var(--fluid-space-3xs);
  max-width: 600px;
  margin: 0 0.5rem;
}

.chat-notice-popup__content {
  background-color: var(--color-white);
  padding: 1rem;
}

.chat-notice-popup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.chat-notice-popup__title {
  font-size: var(--font-step-1);
  font-weight: 500;
  margin: 0;
  color: var(--color-black);
  padding-top: var(--fluid-space-s);
}

.chat-notice-popup__message {
  font-size: var(--font-step-0);
  color: var(--color-black);
}
