.warning-surrounding{
    background-color: rgba(0, 0, 0, 0.5);
}

.warning-backround {
    position: relative;
    background: var(--color-white);
    padding: var(--fluid-space-s);
    max-width: 500px;
    width: 90%;
    border: 2px solid var(--color-orange);
    display: flex;
    flex-direction: column;
}

.warning-main-div{
    display: flex;
}

.warning-title{
    font-size: var(--font-step-1);
    font-weight: 500;
    color: var(--color-black);
    padding-top: var(--fluid-space-s);
}

.warning-backround>*:first-child {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
}

.warning-text-one{
    color: var(--color-black);
    font-size: var(--font-step-0);
    text-align: start;
}

.warning-buton {
    padding: 0.75rem 1.5rem;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    min-width: 10rem;
    height: 3rem;
    line-height: 1;
    appearance: none;
}

.warning-buton-1,
.warning-buton-2 {
    width: auto;
}

.warning-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.warning-buton-1{
    margin-bottom: -1rem;
    margin-top: 0.5rem;
    background-color: var(--color-orange);
    border: 1px solid var(--color-orange);
}

.warning-buton-1:hover{
    margin-bottom: -1rem;
    margin-top: 0.5rem;
    background-color: var(--color-black);
    color: var(--color-orange);
}

.warning-buton-2:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}

