:root {
  font-family: Arial, Helvetica, sans-serif;
  --max-width: 500px;
}
 
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 1rem;
  margin: 0;
  min-height: 100vh;
  background-color: #f5f5f5;
}
 
/* Reusable button style */
.button,
button {
  background-color: aquamarine;
  padding: 0.5rem 1rem;
  border: black solid 1px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
