:root{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button{
  background-color: aquamarine;
  padding: 0.5rem 1rem;
  border: black solid 1px;
  text-decoration: none;
}

.closeup-form{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  background-color: lightgrey;
  gap: 1rem;
}

label{
  font-weight: bold;
}